@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: 'Poppins', sans-serif; */

*{
    font-family: 'Poppins', sans-serif;  
}

body{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    display: flex;
    overflow: hidden;
}

.fundoCartao{
    max-height: 101vh;
    width: 500px;
}

.lateral{
    position: relative;
}

.lateral img{
    z-index: 10;
    position: absolute;
}

.lateral img:nth-child(1){
    top: -650px;
    left: 170px;
}

.lateral img:nth-child(2){
    top: -350px;
    left: 250px;
}

.formulario{
    display: flex;
    flex-direction: column;
    position: relative;
}

.formulario form{
    position: absolute;
    bottom: 300px;
    left: 400px;
}

.formulario form label{
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adicione um espaçamento entre os elementos */
}

.form label{
    color: brown;
}

form div{
    margin-top: 20px;
}

form a{
    background-color: rgb(14, 0, 31);
    padding: 10px 40px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}